@charset "UTF-8";

a {
  color: #000;
  text-decoration: none;
}


.sub-title {
  text-align: center;
  font-family: fantasy;
  font-size: 36px;
  margin-bottom: 60px;
  padding-top: 120px;
  position: relative;
}

.sub-title::after {
  content: "";
  width: 20px;
  height: 2px;
  border-bottom: 2px solid;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

// ヘッダー
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: rgba(000,000,000,.5);
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.logo {
  font-size: 30px;
  font-family: cursive;
  color: #fff;
}

.nav {
  display: flex;
  font-size: 20px;
  li a {
    padding: 20px;
    color: #fff;
  }
}


.kv {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url(../dist/assets/img/kv.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: red;
}

.kv-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-shadow: 10px 10px 5px #000;
  font-size: 60px;
  font-family: fantasy;
  color: #fff;
}


// Concept
.concept-wrapper {
  width: 1080px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.concept-img figure img {
  width: 500px;
  height: 627px;
}


.concept-main-text {
  margin-left: 200px;
}

.concept-sub-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.concept-sub-title::before,
.concept-sub-title::after {
  display: inline-block;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #000;
  vertical-align: 5px;
}

.concept-text {
  font-size: 20px;
  width: auto;
  height: 630px;
  overflow-y: auto;
}

.concept-text p {
  margin-bottom: 16px;
}



// Application
.application-wrapper {
  display: flex;
  // justify-content: space-between;
  position: relative;
  align-items: flex-end;
}

.application-img figure img {
  width: 718px;
  height: 580px;
  object-fit: cover;
  // z-index: 999;
}

.application-main-text {
  padding-left: 60px;
}

.application-main-text::before {
  content: "";
  background-color: #f4f4f4;
  width: calc(100% - 500px);
  height: calc(100% - 100px);
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: -100px;
}

.application-sub-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 24px;
}

.application-text {
  font-size: 20px;
  line-height: 2;
}

.application-text::first-letter {
  font-weight: bold;
  font-size: 1.5rem;
}




// Gallery
.sub-gallery-title {
  padding-top: 120px;
}

.gallery-text-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-text-title::before,
.gallery-text-title::after {
  display: inline-block;
  content: "";
  vertical-align: 5px;
  width: 32px;
  height: 2px;
  background-color: #000;
}

.gallery-wrapper {
  background-image: url(../dist/assets/img/main_03.jpg);
  background-image: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
}
